#content {
    margin: 0 4%;
}
#image-div {
    margin-top: 2%;
}
#form-div {
    margin-bottom: 1%;
}
#description-div {
    margin: 1% 0 2% 0;
}
#hotel-image {
    height: 500px;
    width: 500px;
}