#search-bar-image {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    background-position: center;
    height: 380px;
    background-size: cover;
}
#padding {
    width: 100%;
    height: 180px;
}
#search-bar {
    display: block;
    width: 28%;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 10px;
    font-size: 16px;
    background-color: #f1f1f1;    
}
#city-cards {
    margin: 0 auto;
    margin-left: 15%;
}
.city-image {
    height: 150px;
    width: 150px;
    padding: 4%;
    border-radius: 25%;
}
#view-more {
    text-align: center;
    padding-bottom: 4%;
}