#list-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}
.hotel-cards {
    margin: 2% 5%;
    background-color: lightgrey;
    height: 200px;
    width: 40%;
}
.hotel-card {
    display: flex;
    flex-direction: row;
}
.hotel-image {
    height: 200px;
    width: 250px;
    margin-right: 20px;
}
#select a {
    padding: 2%;
    font-weight: bold;
}
#select {
    text-align: center;
}
#map-view {
    display: none;
}
