#hotel-details {
    background-color: rgb(132,136,139);
    height: 20%;
    width: 50%;
    margin: 2% auto;
    margin-top: 6%;
}
#hotel-image {
    height: 500px;
    width: 500px;
}
#cust-details {
    margin: 2%;
}
#payment-details {
    margin: 2%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1% 2%;
}
#pay-button {
    padding-bottom: 2%;
}
